---
import Layout from '../layouts/Layout.astro';
import Header from '../components/nav/Header.astro';
import Footer from '../components/nav/Footer.astro';

import HeroSection from '../components/home/HeroSection.astro';
import FeaturesSection from '../components/home/FeaturesSection.astro';
import ServiceOverviewSection from '../components/home/ServiceOverviewSection.astro';
import ApproachSection from '../components/home/ApproachSection.astro';
import CaseStudiesSection from '../components/home/CaseStudiesSection.astro';
import TestimonialsSection from '../components/home/TestimonialsSection.astro';
import CTASection from '../components/home/CTASection.astro';
---

<Layout title="AK Web Solutions – Websites, SEO & digitale groei">
  <Header />
  <main>
    <HeroSection />
    <FeaturesSection />
    <ServiceOverviewSection />
    <ApproachSection />
    <CaseStudiesSection />
    <TestimonialsSection />
    <CTASection />
  </main>
  <Footer />
</Layout>
